*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div .cabecera{
background-color: blueviolet;
font-size: 3rem;
padding-left: 15px ;
font-weight: bold;
box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
color: white;
height: 50px;
text-justify:auto;
}

div span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: white;
    padding-left: 20px;
}
main header {
    text-align: center;
    color: blueviolet;
    font-size: 5rem;
}

main p{
    text-align: center;
    color: black;
    font-size: 1.6rem;
}

.container{
    width: 70%;
    border: 1px solid #272727;
    margin: 0 auto;
}